<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seniorprojectfall.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondScreenActivity" />
        <activity android:name=".activity_fourth_screen" />
        <activity android:name=".CreateUserActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainJoyActivity" />
        <activity android:name=".ThirdScreenActivity" />
        <activity android:name=".CarouselScreen" />
        <activity android:name=".MainPassionActivity" />
        <activity android:name=".SprintSettingActivity" />
        <activity android:name=".GivingBackActivity"    />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".previous_cycle"
            android:label="@string/title_activity_previous_cycle" />
        <activity android:name=".cycleActivity" />
        <activity android:name=".cycleActivityPassion" />
        <activity android:name=".cycleActivityContribution" />
        <activity android:name=".currentCycleActivity" />
        <activity android:name=".viewCoachesActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ChatCoachSelectionActivity"></activity>
    </application>

</manifest>